# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env
deploy/production-credentials.txt
firebase-adminsdk*.json
firebase-service-account.json
*.log
logs/
staticfiles/
media/
db.sqlite3
db.sqlite3-journal

# IDE
.idea/
.vscode/
*.swp
.DS_Store
